<h1>Iskanje študenta</h1>
<form class="searchBar">
    <input type="text" name="search" ng-model="query">
    <button ng-click="vm.executeSearch(query)"><i class="fa fa-search"></i></button>
</form>
<div ng-show="emptyRes" class="alert alert-danger">
    <p>Ni zadetkov</p>
</div>
<table class="table table-hover">
    <tr ng-repeat="x in vm.searchRes" ng-click="vm.openProfile(x.vpisnaStevilka)">
        <td>{{ x.vpisnaStevilka }}</td>
        <td>{{ x.ime }}</td>
        <td>{{ x.priimek }}</td>
    </tr>
</table>

