<navigation></navigation>

<div class="container">
    <form class="form-horizontal">
        <fieldset>
            <legend>Ustvarjanje novega izpitnega roka</legend>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-1" for="predmet">
                    Predmet
                </label>
                <div class="col-sm-10">
                    <select data-width="95%" id="predmet" name="predmet" ng-model="vm.predmet">
                        <option ng-repeat="x in vm.subjects" value="{{x.predmet.sifra}}">{{x.predmet.naziv}}</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </form>

    <button type="button" class="btn btn-primary" ng-click="vm.getExamsForSubject()">Izberi predmet</button>

    <div ng-show="vm.subjectSelected">
        <table class="table" align="center" id="dateTable">
            <thead class="thead-light">
            <tr>
                <th scope="col">Predmet</th>
                <th scope="col">Izvajalec</th>
                <th scope="col">Datum</th>
                <th scope="col">Prostor</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in vm.exams">
                <td>{{x.izvajanjePredmeta.predmet.naziv}}</td>
                <td>{{x.izvajanjePredmeta.nosilec1.priimek}}, {{x.izvajanjePredmeta.nosilec1.ime}}</td>
                <td>{{x.datum | date:'dd. MM. y'}} {{x.time}}</td>
                <td>{{x.prostor}}</td>
            </tr>
            </tbody>
        </table>


        <div class="input-group-text">
            <input type="text" class="form-control" placeholder="prostor" ng-model="vm.examRoom">
        </div>
        <div id="dateInput" class="input-group date" data-provide="datepicker">
            <input class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" type="text"/>
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </div>
        </div>

        <div class="input-group clockpicker">
            <input id="timeInput" type="text" class="form-control" value="09:30" >
            <span class="input-group-addon">
                 <span class="glyphicon glyphicon-time"></span>
            </span>
        </div>

        <br>
        <button type="button" class="btn btn-primary" ng-click="vm.createExam()">Ustvari nov izpitni rok</button>
        <br>
        <div ng-show="vm.message" style="display:inline-flex;margin:1%" class="alert alert-success alert-dismissible">
            <p>{{vm.message}}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div ng-show="vm.errorMsg" style="display:inline-flex;margin:1%" class="alert alert-danger alert-dismissible">
            <p>{{vm.errorMsg}}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>


