<navigation></navigation>

<div class="row">
  <div class="col-md-2"></div>
  <div align="center"  class="col-md-8">
    <h3>Seznam ocen prijavljenih kandidatov</h3>
    <br><br>

    <div class="row">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Šifra predmeta</th>
                <th scope="col">Ime predmeta</th>
                <th scope="col">Izpraševalci</th>
                <th scope="col">Datum roka</th>
                <th scope="col">Ura roka</th>
                <th scope="col">Prostor</th>   
            </tr>
            </thead>
            <tbody>
            <tr ng-click="vm.prikaziOcene(x.id)" ng-repeat="x in vm.roki">
                <td>{{x.izvajanjePredmeta.predmet.sifra}}</td>
                <td>{{x.izvajanjePredmeta.predmet.naziv}}</td>
                <td>{{x.izvajalec.ime}} {{x.izvajalec.priimek}}</td>
                <td>{{x.datum}}</td>
                <td>{{x.cas}}</td>
                <td>{{x.prostor}}</td>
            </tr>
            </tbody>
        </table>
    </div>

  </div>

  <div class="col-md-2"></div>
</div>


