<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" >STUDIS</a>
  </div>
  <ul class="nav navbar-nav">
    <li class="active"><a href="/#/student">Domov</a></li>
    <li><a ng-click="logout()">Log out</a></li>
  </ul>
</div>
</nav>














<!--Prijavljen je kandidat-->
<div ng-show="kandidat" class="row">
  <div class="col-md-2"></div>
  <div align="center"  class="col-md-8">
    <p>Pozdravljen kandidat</p>
    <legend>{{ime_kandidata}} {{priimek_kandidata}}</legend>
    {{vpisna_kandidata}}


    <br><br>
    <a href="/#/vpisnilist/1" class="btn btn-info btn-block" role="button">ŽETON: {{vpisni_list1}}</a><br>
  </div>
  <div class="col-md-2"></div>
</div>




<!--Prijavljen je student-->
<div ng-hide="kandidat" class="row">
  <div class="col-md-2"></div>
  <div align="center"  class="col-md-8">
    <p>Pozdravljen študent</p>
    <legend>{{ime_studenta}} {{priimek_studenta}}</legend>
    {{vpisna_studenta}}


    <br><br>
    <button ng-click="prikazi_moj_profil()" class="btn btn-block">Moj profil</button><br><br><br>
    <a ng-show="ima_zeton1" href="/#/vpisnilist/1" class="btn btn-info btn-block" role="button">ŽETON: {{vpisni_list1}}</a><br>
    <a ng-show="ima_zeton2" href="/#/vpisnilist/2" class="btn btn-info btn-block" role="button">ŽETON: {{vpisni_list2}}</a>


    <br><br>
    ŽETON(izpis samo za referenco):
    <br>
    <p>{{student_zeton1}}</p><br><br><br><br>
    <p>{{student_zeton2}}</p>
  <div>
  <div class="col-md-2"></div>
</div>