<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" >STUDIS</a>
  </div>
  <ul class="nav navbar-nav">
    <li class="active"><a href="/#/student">Domov</a></li>
    <li><a ng-click="logout()">Log out</a></li>
  </ul>
</div>
</nav>


<!--Mal je tukej problem ker zdej do te strani dostopata tip=Student in tip=Kandidat, 
mogoče bi blo boljše nardit posebno stran za kandidata, ampak uresnici ima zaenkrat samo vpisni list,
ni lihk nujno mogoče delati nove strani-->


<div align="center">
<!--V primeru da dostopa tip=Kandidat-->
<div ng-show="kandidat">
<p ng-show="kandidat">Pozdravljen kandidat<br></p>
<a ng-show="kandidat||ima_zeton" href="/#/vpisnilist/1" class="btn btn-info" role="button">Vpisni list</a>
</div>




<!--V primeru da dostopa tip=Student-->
<div ng-hide="kandidat">
<p>Pozdravljen študent</p>

<legend>{{ime_studenta}} {{priimek_studenta}}</legend>
{{vpisna_studenta}}


<button ng-hide="kandidat" ng-click="prikazi_moj_profil()" class="btn">Moj profil</button>


<br><br><br>ŽETONI ZA VPIS:<br><br>
<a ng-show="ima_zeton_1" href="/#/vpisnilist/1" class="btn btn-info" role="button">Vpisni list</a><br><br>
<a ng-show="ima_zeton_2" href="/#/vpisnilist/2" class="btn btn-info" role="button">Vpisni list</a>


<br><br>Tale izpis je samo za referenco(vsebina mojega žetona, lahko ma največ 2 naenkrat(ponavljanje, vpis))
<p>{{student_zeton_1}}</p>
<p>{{student_zeton_2}}</p>

</div>

</div>