<navigation></navigation>

<div class="row">
  <div class="col-md-2"></div>
  <div align="center"  class="col-md-8">
    <h3>Potrjevanje vpisov</h3>
    <br>   


    <div class="row">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Ime in Priimek</th>
                <th scope="col">Vpisna številka</th>
                <th scope="col">Program</th>
                <th scope="col">Letnik</th>
                <th scope="col">Potrdi zadnji vpis</th>
                <th scope="col">Potrdilo o vpisu</th>
                <th scope="col">Prikaz potrdila</th>          
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in vm.nepotrjeni">
                <td>{{x.student.ime}} {{x.student.priimek}}</td>
                <td>{{x.student.vpisnaStevilka}}</td>
                <td>{{x.studijskiProgram.naziv}}</td>
                <td>{{x.letnik.letnik}}</td>
                <td><button class="btn btn-primary btn-block" ng-hide="hide[$index]" ng-click="vm.potrdi(x.student.id);hide[$index]=true;show[$index] = true;">potrdi</td>
                <td><button ng-show="show[$index]" ng-click="vm.pdfPotrdilo(x.student.id)" class="btn btn-default">pdf</button></td>

                <td><button ng-show="show[$index]" ng-click="vm.pdfPrikazi(x.student.id, '2018')" class="btn btn-default">prikaži pdf</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <embed ng-src="{{vm.content}}" style="width:50vw;height:50vh;"></embed>

    <div ng-show="vm.prikazi_stevilo" class="row">
        <br><br>
        <div class="col-xs-6 col-lg-6"></div>
        <div class="col-xs-3 col-lg-3"><button class="btn btn-default btn-block" ng-click="vm.izvozi('csv')">izvozi v CSV</button></div>
        <div class="col-xs-3 col-lg-3"><button class="btn btn-default btn-block" ng-click="vm.izvozi('pdf')">izvozi v PDF</button></div>
    </div>




  </div>

  <div class="col-md-2"></div>
</div>


