<navigation></navigation>

<div>
  <div class="row">
    <div class="col-md-2"></div>

    <div align="center" class="col-md-8">
      <h3 align="center">Pozdravljen skrbnik</h3><hr>
        <form>
          <div class="form-group">
          <h3 align="center">Uvoz podatkov o študentih</h3>


          <label class="btn btn-info btn-file">Izberi datoteko
          <input type="file" name="file" ngf-select ng-model="vm.file" style="display: none;"/>
          </label>
          <label ng-show="vm.file">{{vm.file.name}}</label>
          </div>
          <button class="btn btn-info" ng-click="vm.uploadFile()">Uvozi kandidate</button>
        </form>


        <br>
        <p align="center">{{vm.error_uvoz}}</p>
        <br><br>

        <div ng-show="vm.uvozeni_zapisi_naslov">
          <h3 align="center">Podatki o uvoženih zapisih</h3>
          <table id="mytable" class="table table-striped">
          <tbody>
            <tr ng-repeat="zapis in vm.aZapisi">
              <th>
                <div>
                  {{zapis.ime}} {{zapis.priimek}} (id: {{zapis.id}})<br>
                  uporabniško ime: {{zapis.uporabniskoIme}}<br>
                  vpisna številka: {{zapis.vpisnaStevilka}}<br>
                  študijski program: {{zapis.studijskiProgram.naziv}}<br>
                  geslo: {{zapis.gesloPlain}}<br>
                </div>
              </th>
            </tr>
          </tbody>
          </table>
          <uib-pagination total-items="vm.steviloUvozenih" ng-model="vm.trenutnaStran" items-per-page="vm.zapisovNaStran"></uib-pagination>
        </div>


      <div ng-show="vm.uvozeni_zapisi_naslov">
        <h3 align="center">Podatki o neuspešno uvoženih zapisih</h3>
        <textarea ng-bind="vm.neuspesni_fajl" rows="6" class="form-control" readonly></textarea>
      </div>



    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<hr><br>


