<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">STUDIS</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/#!/referentka">Domov</a></li>
            <li class="active"><a href="/#/zetoni">Zetoni</a></li>
            <li><a ng-click="logout()">Odjava</a></li>
        </ul>
    </div>
</nav>

<table class="table table-hover">
    <thead class="thead-light">
    <tr>
        <th scope="col">Zaporedna številka</th>
        <th scope="col">Vpisna številka</th>
        <th scope="col">Študijski program</th>
        <th scope="col">Letnik</th>
        <th scope="col">Vrsta vpisa</th>
        <th scope="col">Način študija</th>
        <th scope="col">Oblika študija</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-click="vm.openToken(x.student.id, x.vrstaVpisa.sifraVpisa)" ng-repeat="x in vm.tokens">
        <td>{{$index + 1}}</td>
        <td>{{x.student.vpisnaStevilka}}</td>
        <td>{{x.studijskiProgram.naziv}}</td>
        <td>{{x.letnik.letnik}}</td>
        <td>{{x.vrstaVpisa.vrstaVpisa}}</td>
        <td>{{x.nacinStudija.opis}}</td>
        <td>{{x.oblikaStudija.opis}}</td>
    </tr>
    </tbody>
</table>
<button type="button" style="margin-left:1%" class="btn btn-primary" data-toggle="modal" data-target="#createTokenModal" data-keyboard="true">Ustvari nov žeton</button>
<br>
<div ng-show="vm.message" style="display:inline-flex;margin:1%" class="alert alert-success alert-dismissible">
    <!--<a style="text-align:center;display:block" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
    <p>{{vm.message}}</p>
</div>
<div ng-show="vm.errorMsg" style="display:inline-flex;margin:1%" class="alert alert-danger alert-dismissible">
    <!--<a style="text-align:center;display:block" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
    <p>{{vm.errorMsg}}</p>
</div>


<!-- Modal -->
<div id="createTokenModal" class="modal fade">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ustvarjanje novega žetona</h4>
            </div>
            <div class="modal-body">
                <p>Vnesite vpisno številko</p>
                <label for="vpisnaStevilkaZaNovZeton">Vpisna številka</label>
                <input type="text" id="vpisnaStevilkaZaNovZeton" ng-model="novaVpisnaStevilka">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="vm.createToken(novaVpisnaStevilka)">Ustvari žeton</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
            </div>
        </div>
    </div>
</div>