  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">STUDIS</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/#/referentka">Domov</a></li>
        <li><a href="/#/iskanje">Iskanje</a></li>
        <li><a href="/#/zetoni">Zetoni</a></li>
        <li><a ng-click="logout()">Odjava</a></li>
      </ul>
    </div>
  </nav>


<div class="row">
  <div class="col-md-2"></div>
  <div align="center"  class="col-md-8">
  	<h3>Pozdravljena referentka</h3>
    <br><br>
    <a href="/#/iskanje" class="btn btn-info btn-block" role="button">Iskanje študentov po vpisni številki/imenu</a><br><br>

    <button class="btn btn-block" ng-click="prikazi_zetone()">Prikaži žetone</button><br><br><br>


    <p ng-show="pogled_zetoni" ng-repeat="zeton in zetoni">
    {{zeton.student.ime}}
    {{zeton.student.priimek}} (ID: {{zeton.student.id}})<br>
    Vrsta vpisa: {{zeton.vrstaVpisa.vrstaVpisa}}
    Šifra vpisa: {{zeton.vrstaVpisa.sifraVpisa}}

    <br><a href="/#/zeton_uredi/{{zeton.student.id}}" class="btn btn-info" role="button" style="width:50%">uredi</a>
    <button class="btn btn-danger btn-block" ng-click="zbrisi_zeton(zeton)" style="width:50%">zbriši</button><br><br>

    </p>

  </div>

  <div class="col-md-2"></div>
</div>


