<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" >STUDIS</a>
  </div>
  <ul class="nav navbar-nav">
    <li class="active"><a href="javascript:history.back()">Domov</a></li>
    <li><a ng-click="logout()">Odjava</a></li>
  </ul>
</div>
</nav>


<div class="container">
    <form class="form-horizontal" action="">
        <fieldset>
            <legend>{{vm.student.ime}} {{vm.student.priimek}}</legend>
            <div class="form-group">
                <label class="control-label col-sm-2" for="vpisna">
                    Vpisna številka
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{vm.student.vpisnaStevilka}}" name="vpisna" id="vpisna" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="ime">
                    Ime
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{vm.student.ime}}" name="ime" id="ime" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="priimek">
                    Priimek
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{vm.student.priimek}}" name="priimek" id="priimek" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="naslov_stalni">
                    Naslov stalnega prebivališča
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{vm.student.naslovStalno}}" name="naslov_stalni" id="naslov_stalni" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="naslov_posta">
                    Naslov za prejemanje pošte
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{vm.student.naslovZaPosiljanjePoste}}" name="naslov_posta" id="naslov_posta" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="telefon">
                    Telefonska številka
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{vm.student.telefonskaStevilka}}" name="telefon" id="telefon" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">
                    Naslov elektronske pošte
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{vm.student.email}}" name="email" id="email" readonly>
                </div>
            </div>

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Študijsko leto</th>
                    <th scope="col">Letnik</th>
                    <th scope="col">Študijski program</th>
                    <th scope="col">Vrsta vpisa</th>
                    <th scope="col">Način študija</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in vm.vpisi">
                    <td>{{x.studijskoLeto.studijskoLeto}}</td>
                    <td>{{x.letnik.letnik}}</td>
                    <td>{{x.studijskiProgram.naziv}}</td>
                    <td>{{x.vrstaVpisa.vrstaVpisa}}</td>
                    <td>{{x.nacinStudija.opis}}</td>
                </tr>
                </tbody>
            </table>


            <div class="form-group" ng-hide=true>
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

