<navigation></navigation>

<div class="row">
    <div class="col-md-2"></div>
    <div align="center"  class="col-md-8">
        <h2>Iskanje študenta</h2>
        <b>[po vpisni številki, imenu ali priimku]</b><br><br><br>
        <form class="searchBar">
            <input type="text" name="search" ng-model="query" class="form-control">
            <button class="form-control" ng-click="vm.executeSearch(query)"><i class="fa fa-search"></i></button>
        </form>
        <div ng-show="emptyRes" class="alert alert-danger">
            <p>Ni zadetkov</p>
        </div>
        <table class="table table-hover">
            <thead class="thead-light">
            <tr ng-show="vm.searchRes.length">
                <th scope="col">Zaporedna številka</th>
                <th scope="col">Vpisna številka</th>
                <th scope="col">Ime</th>
                <th scope="col">Priimek</th>
                <th scope="col">E-pošta</th>
                <th scope="col">Telefon</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in vm.searchRes" ng-click="vm.openProfile(x.id)">
                <td>{{$index + 1}}</td>
                <td>{{x.vpisnaStevilka }}</td>
                <td>{{x.ime }}</td>
                <td>{{x.priimek }}</td>
                <td>{{x.email}}</td>
                <td>{{x.telefonskaStevilka}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>

