<navigation></navigation>

<!--Prijavljen je student-->
<div ng-hide="kandidat" class="row">
  <div class="col-md-2"></div>
  <div align="center"  class="col-md-8">
    <div ng-show="vm.zetoni">
      <div class="alert alert-info" ng-repeat="zeton in vm.zetoni">
        <span>Imaš neizkoriščen žeton za vpis. <strong>
          <a class="alert-link" ng-click="vm.useToken(zeton.vrstaVpisa.sifra)">{{zeton.vrstaVpisa.vrstaVpisa}}!</a>
        </strong></span>
      </div>
    </div>

    <p>Pozdravljen študent</p>
    <legend>{{vm.student.ime}} {{vm.student.priimek}}</legend>
    {{vm.student.vpisnaStevilka}}

  <div>
  <div class="col-md-2"></div>
  </div>
  </div>
</div>