<nav class="navbar navbar-inverse customNavigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#studisNav">
                <span class="glyphicon glyphicon-list"></span>
            </button>
            <a class="navbar-brand" href="">Studis</a>
        </div>
        <div class="collapse navbar-collapse" id="studisNav">
            <ul class="nav navbar-nav">
                <!--HOME-->
                <li>
                    <a ng-href="/#/{{headvm.currentUser.tip.toLowerCase()}}"><span class="glyphicon glyphicon-home"></span>&nbsp;Domov</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <!--STUDENT DATA-->
                <li class="dropdown" ng-hide="headvm.currentUser.tip == 'Student'">
                    <a class="dropdown-toggle" type="button" data-toggle="dropdown">Študenti
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!--SEARCH-->
                        <li ng-show="headvm.currentUser.tip == 'Referent' || headvm.currentUser.tip == 'Ucitelj'">
                            <a href="/#/iskanje"><span class="glyphicon glyphicon-search"></span>&nbsp;Iskanje</a>
                        </li>
                        <!--TOKEN-->
                        <li ng-show="headvm.currentUser.tip == 'Referent'">
                            <a href="/#/zeton"><span class="fas fa-dot-circle"></span>&nbsp;Žetoni</a>
                        </li>
                        <!--NUMBER OF ENROLLED STUDENTS-->
                        <li ng-show="headvm.currentUser.tip == 'Referent'">
                            <a href="/#/steviloVpisanih"><span class="glyphicon glyphicon-option-horizontal"></span>&nbsp;Število vpisanih</a>
                        </li>
                        <!--LIST ENROLLED STUDENTS-->
                        <li ng-show="headvm.currentUser.tip == 'Referent' || headvm.currentUser.tip == 'Ucitelj'">
                            <a href="/#/seznamVpisanih"><span class="glyphicon glyphicon-th-list"></span>&nbsp;Seznam vpisanih v predmete</a>
                        </li>
                        <!--CONFIRM ENROLLMENT-->
                        <li ng-show="headvm.currentUser.tip == 'Referent'">
                            <a href="/#/potrdiVpis"><span class="glyphicon glyphicon-ok"></span>&nbsp;Potrjevanje vpisov</a>
                        </li>
                        <!--ELEKTRONSKI INDEX-->
                        <li ng-show="headvm.currentUser.tip == 'Referent' || headvm.currentUser.tip == 'Ucitelj'">
                            <a href="/#/elektronskiIndex"><span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;Elektronski indeks</a>
                        </li>
                    </ul>
                </li>

                <!--EXAM-->
                <li class="dropdown" ng-hide="headvm.currentUser.tip == 'Student'">
                    <a class="dropdown-toggle" type="button" data-toggle="dropdown">Izpit
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!--EXAM CREATION-->
                        <li ng-show="headvm.currentUser.tip == 'Referent' || headvm.currentUser.tip == 'Ucitelj'">
                            <a href="/#/izpitniRok"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Izpitni roki</a>
                        </li>
                        <!--APPLY/CANCEL STUDENTS EXAM APPLICATION-->
                        <li ng-show="headvm.currentUser.tip == 'Referent' || headvm.currentUser.tip == 'Ucitelj'">
                            <a href="/#/prijavaStudentaNaIzpit"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Prijavi/odjavi študenta</a>
                        </li>
                        <!--LIST OF REGISTERED STUDENTS WITH GRADES-->
                        <li ng-show="headvm.currentUser.tip == 'Referent' || headvm.currentUser.tip == 'Ucitelj'">
                            <a href="/#/seznamOcen"><span class="glyphicon glyphicon-sound-7-1"></span>&nbsp;Ocene prijavljenih</a>
                        </li>
                    </ul>
                </li>

                <!--PROFILE-->
                <li ng-show="headvm.currentUser.tip == 'Student'" ng-click="headvm.showProfile()">
                    <a href=""><span class="glyphicon glyphicon-user"></span>&nbsp;Profil</a>
                </li>
                <!--INDEX-->
                <li ng-show="headvm.currentUser.tip == 'Student'" ng-click="headvm.showGradesHistory()">
                    <a href=""><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Kartotečni list</a>
                </li>

                <!--ELEKTRONSKI INDEX-->
                <li ng-show="headvm.currentUser.tip == 'Student'">
                    <a href="/#/elektronskiIndex"><span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;Elektronski index</a>
                </li>

                <!--LOG OUT-->
                <li ng-show="headvm.isLogged" ng-click="headvm.logout()">
                    <a href="" ><span class="glyphicon glyphicon-log-out"></span>&nbsp;Odjava</a>
                </li>

            </ul>
        </div>
    </div>
</nav>