form.searchBar input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  box-sizing: border-box;
}

form.searchBar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  box-sizing: border-box;
}

form.searchBar button:hover {
  background: #0b7dda;
}


textarea {
    overflow-y: scroll;
    height: 100px;
    resize: none; /* Remove this if you want the user to resize the textarea */
}

.customNavigation {
  border-radius: 0; !important;
}

table.examApp td{
  border:0 !important;
}

.course-list-item {
  border-radius: 5px;
  border: 2px solid #0b7dda;
  padding: 5px;
  margin: 4px;
}

.course-list-item:hover {
  background-color: #d5f5ff;
}

.course-list-item-selected {
  border-radius: 5px;
  border: 2px solid rgba(99, 255, 163, 0.4);
  padding: 5px;
  margin: 4px;
}

.course-list-item-selected:hover {
  border-color: rgb(255, 40, 30);
  background-color: rgba(255, 0, 0, 0.5);
}

.course-list-item-small {
  padding: 2px;
  margin: 3px;
  font-size: 1em;
}

.glyphicon-remove {
  float: right;
}

.underlined {
  text-decoration: underline;
  font-size: 1.2em;
}
