<navigation></navigation>

<div class="row">
  <div class="col-md-2"></div>
  <div align="center"  class="col-md-8">
    <h3>Seznam vpisanih</h3>
    <h3>{{vm.predmetNaziv}}({{vm.predmetSifra}}) v letu {{vm.leto.studijskoLeto}}</h3>
    <br><br>
    


    <div class="row">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Zaporedna številka</th>
                <th scope="col">Vpisna številka</th>
                <th scope="col">Priimek</th>
                <th scope="col">Ime</th>
                <th scope="col">Vrsta vpisa</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="x in vm.studenti track by $index">
                <td>{{$index + 1}}</td>
                <td>{{x.student.vpisnaStevilka}}</td>
                <td>{{x.student.priimek}}</td>
                <td>{{x.student.ime}}</td>
                <td>{{x.nacinStudija.opis}}</td>
                <td><button ng-click="show[$index]=!show[$index];vm.preveriCePrijava($index)">vnesi oceno</button></td>
            </tr>
            <tr ng-repeat-end ng-show="show[$index]">    
              <td colspan="2">
                <div class="row">
                  <div ng-show="vm.checked[$index]">Prijava obstaja<br><br></div>
                  <div ng-hide="vm.checked[$index]">Prijava ne obstaja<br><br></div>
                </div>

                <div class="row" ng-hide="vm.checked[$index]">
                  <div class="col-md-4">Zaporedna št. polaganja letos:</div>
                  <div class="col-md-8"><input class="form-control" type="number" ng-model="vm.polaganjeLetos[$index]" min="1" max="3"></div>
                </div>

                <div class="row" ng-hide="vm.checked[$index]">
                  <div class="col-md-4">Zaporedna št. polaganja skupno:</div>
                  <div class="col-md-8"><input class="form-control" type="number" ng-model="vm.polaganjeSkupno[$index]" min="1"></div>
                </div>

                

                <div class="row">
                  <div class="col-md-4">Datum:</div>
                  <!--<div class="col-md-8"><input ng-disabled="vm.checked[$index]" class="form-control" type="date" ng-model="vm.datum" max="2018-05-31"></div>-->
                  <input type="date" ng-model="vm.datum">
                </div>
              </td>
              <td colspan="3">
                <div class="row">
                  <div class="col-md-4">Končna ocena:</div>
                  <div class="col-md-8"><input class="form-control" type="number" ng-model="vm.koncna[$index]" min="5" max="10"></div>
                </div>
                <div class="row"><p class="col-md-3"></p>
                  <button ng-click="vm.oddajOceno(x.student.vpisnaStevilka, $index)" class="btn btn-primary btn-block col-md-6">Potrdi</button>
                </div>
                <div ng-show="vm.pokaziNapako[$index]" class="alert alert-danger row">
                    <p style="display:inline-block">{{vm.napaka[$index]}}</p>
                </div>
                <div ng-show="vm.pokaziOk[$index]" class="alert alert-success row">
                    <p style="display:inline-block">{{vm.ok[$index]}}</p>
                </div>
                <div ng-hide="vm.pokaziOk[$index]||vm.pokaziNapako[$index]"><br><br><br><br></div>
                
              </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="vm.izvoz" class="row">
        <br><br>
        <div class="col-xs-6 col-lg-6"></div>
        <div class="col-xs-3 col-lg-3"><button class="btn btn-default btn-block" ng-click="vm.izvozi('csv')">izvozi v CSV</button></div>
        <div class="col-xs-3 col-lg-3"><button class="btn btn-default btn-block" ng-click="vm.izvozi('pdf')">izvozi v PDF</button></div>
    </div>

  </div>

  <div class="col-md-2"></div>
</div>


