<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 style="color: darkgrey">Stud<span style="color: deepskyblue">IS</span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img src="http://lkrv.fri.uni-lj.si/fri_logo.jpg" alt="fri-uni-logo" width="150" height="70" class="center-block">
                </div>
            </div>
            <div class="row">
                <form class="form-horizontal">
                    <div class="col-sm-8 col-sm-offset-2 input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input ng-model="vm.loginData.email" placeholder="Uporabniško ime" type="email" class="form-control">
                    </div>
                    <div class="col-sm-8 col-sm-offset-2 input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input ng-model="vm.loginData.geslo" placeholder="Geslo" type="password" class="form-control">
                    </div>

                    <div class="form-group" style="margin: 5px 0 5px 0">
                        <button type="submit" class="btn btn-success center-block" ng-click="vm.login()">Prijava</button><br>
                    </div>
                </form>
            </div>


            <div class="row">
                <button class="btn btn-danger center-block" ng-click="vm.forgotPassword()">Pozabljeno geslo?</button><br>
                <div ng-show="vm.forgotPasswordClick">
                    <input ng-model="pozabljeno_email" type="email" class="form-control" placeholder="vnesi svoj email">
                    <button class="btn btn-dark btn-block" ng-click="vm.resetPassword()">Pošlji novo geslo</button>
                    <p ng-bind="vm.forgotPasswordMsg"></p>
                </div>
            </div>

            <div class="row">
                <div ng-show="vm.loginErrorMsg" class="alert alert-danger">
                    <p style="display:inline-block">{{vm.loginErrorMsg}}. <span ng-show="vm.timeout > 0">Še {{vm.timeout}} sekund</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

