<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" >STUDIS</a>
  </div>
  <ul class="nav navbar-nav">
    <li class="active"><a href="/#/student">Domov</a></li>
    <li><a ng-click="logout()">Log out</a></li>
  </ul>
</div>
</nav>


<h2 align="center">VPISNI LIST</h2>
<div class="container">
    <form class="form-horizontal" action="">
        <fieldset>
            <br><br><h4 align="right">OSEBNI PODATKI:</h4><hr>
            <div class="form-group">
                <label class="control-label col-sm-2">Vpisna številka</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_vpisna" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ime</label>
                <div class="col-sm-10">
                    <input samo-crke type="text" ng-model="vl_ime" ng-trim="false" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="priimek">Priimek</label>
                <div class="col-sm-10">
                    <input samo-crke type="text" ng-model="vl_priimek" ng-trim="false" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Telefonska številka</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_telefonska">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_email">
                </div>
            </div>
            <hr><div class="form-group">
                <label class="control-label col-sm-2">Datum rojstva</label>
                <div class="col-sm-10">
                    <input type="date" id="date" class="form-control" min="1920-01-01" max="2010-01-01" ng-model="vl_rojstvo" ng-change="primerjaj_rojstvo_emso()">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Emšo</label>
                <div class="col-sm-10">
                    <input samo-stevilke type="text" class="form-control" ng-model="vl_emso" ng-change="primerjaj_emso_rojstvo()" maxlength="13" minlength="13">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Davčna</label>
                <div class="col-sm-10">
                <input samo-stevilke type="text" class="form-control" ng-model="vl_davcna" maxlength="8" minlength="8">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Spol</label>
                <div class="col-sm-10">
                    <select ng-options="spol as spol.ime for spol in spoli" class="form-control"
                    ng-model="vl_spol" ng-change="primerjaj_spol_emso()"></select>

                </div>
            </div>


            <hr><div class="form-group">
                <label class="control-label col-sm-2">Država rojstva</label>
                <div class="col-sm-10">
                    <select ng-options="drzava as drzava for drzava in drzave" class="form-control" ng-model="vl_drzava_rojstva"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Kraj rojstva</label>
                <div class="col-sm-10">
                    <input samo-crke type="text" class="form-control" ng-model="vl_kraj_rojstva">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Občina rojstva</label>
                <div class="col-sm-10">
                    <select ng-options="obcina as obcina.ime for obcina in obcine" class="form-control" ng-model="vl_obcina_rojstva"></select>
                </div>
            </div>




            <!---->
            <hr><div class="form-group">
                <label class="control-label col-sm-2">Stalni Naslov</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_naslov_stalno">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Država</label>
                <div class="col-sm-10">
                    <select ng-options="drzava as drzava for drzava in drzave" class="form-control" ng-model="vl_drzava_stalno"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Pošta</label>
                <div class="col-sm-10">
                    <input samo-stevilke type="text" class="form-control" ng-model="vl_posta_stalno" maxlength="4">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Občina</label>
                <div class="col-sm-10">
                    <select ng-options="obcina as obcina.ime for obcina in obcine" class="form-control" ng-model="vl_obcina_stalno"></select>
                </div>
            </div>
            
            <!---->
            <hr><div class="form-group">
                <label class="control-label col-sm-2">Začasni Naslov</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_naslov_stalno">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Država</label>
                <div class="col-sm-10">
                    <select ng-options="drzava as drzava for drzava in drzave" class="form-control" ng-model="vl_drzava_zacasno"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Pošta</label>
                <div class="col-sm-10">
                    <input samo-stevilke type="text" class="form-control" ng-model="vl_posta_stalno">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Občina</label>
                <div class="col-sm-10">
                    <select ng-options="obcina as obcina.ime for obcina in obcine" class="form-control" ng-model="vl_obcina_zacasno"></select>
                </div>
            </div>
            
            <!---->

            <a href="/#/vpisnilistpredmetnik/1" ><button type="submit" class="btn btn-primary btn-block">Naprej</button></a>

        </fieldset>
    </form>
</div>

