<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" >STUDIS</a>
  </div>
  <ul class="nav navbar-nav">
    <li class="active"><a href="/#/student">Domov</a></li>
    <li><a ng-click="logout()">Log out</a></li>
  </ul>
</div>
</nav>


<h2 align="center">VPISNI LIST</h2>
<div class="container">
    <form class="form-horizontal" action="">
        <fieldset>

            <br><br><b>OSEBNI PODATKI:</b><hr>
            <div class="form-group">
                <label class="control-label col-sm-2">Vpisna številka</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_vpisna" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ime</label>
                <div class="col-sm-10">
                    <input samo-crke type="text" ng-model="vl_ime" ng-trim="false" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="priimek">Priimek</label>
                <div class="col-sm-10">
                    <input samo-crke type="text" ng-model="vl_priimek" ng-trim="false" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Datum rojstva</label>
                <div class="col-sm-10">
                    <input type="date" id="date" class="form-control" min="1920-01-01" max="2010-04-30" ng-model="vl_rojstvo" ng-change="primerjaj_rojstvo_emso()">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Kraj rojstva</label>
                <div class="col-sm-10">
                    <input samo-crke type="text" ng-model="vl_kraj_rojstva" ng-trim="false" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Država rojstva</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_drzava">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Občina</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_obcina">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Spol</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_drzava">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Emšo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="vl_emso" ng-change="primerjaj_emso_rojstvo()">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_email">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Telefonska številka</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_telefonska">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Naslov stalnega prebivališča</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" dis ng-value="vl_naslov_stalno">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Naslov za prejemanje pošte</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_naslov_zacasno">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Pošta</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_posta">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Občina</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_obcina">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Država</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_drzava">
                </div>
            </div>

            <br><b>PODATKI O VPISU:</b><hr>

            <div class="form-group">
                <label class="control-label col-sm-2">Študijsko leto</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="2017/2018" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Študijski program</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_program_naziv" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Vrsta vpisa</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_vrsta_vpisa" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Način študija</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_nacin_studija" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Letnik</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-value="vl_letnik" readonly>
                </div>
            </div>

            <b>PREDMETNIK:</b><hr>


            <table class="table col-sm-2">
               <thead class="thead-light">
               <tr>
                   <th scope="col">Učitelj</th>
                   <th scope="col">Učna enota</th>
                   <th scope="col">Število KT</th>
               </tr>
               </thead>
               <tbody id="predmetnik_table">
               </tbody>
                <tr>
                    <hr>
                    <td></td>
                    <td></td>
                    <td><b>{{vl_skupno_st_kt}}</b></td>
                </tr>
           </table>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>



        </fieldset>
    </form>
</div>

