<navigation></navigation>

<div class="container">
    <form class="form-horizontal">
        <fieldset>
            <legend>Kartotečni list</legend>
            <div>
                <div style="text-align:center">
                    <h4>Pregled Opravljenih izpitov</h4>
                    <h4>{{vm.student.vpisnaStevilka}} {{vm.student.ime}} {{vm.student.priimek}}</h4>
                    <br>
                    <button type="button" class="btn btn-primary" ng-click="vm.printAll()" ng-hide="vm.printAllBool">Vsa polaganja</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.printOne()" ng-show="vm.printAllBool">Samo zadnje polaganje</button>
                    <br>
                </div>
                <div ng-repeat="vrstica in vm.vrstice">
                    <div>
                        <div style="display:inline-block">
                            <span>Študijsko leto: </span>
                            <span>{{vrstica.vpis.studijskoLeto.studijskoLeto}}</span>
                            <br>
                            <span>Letnik: </span>
                            <span>{{vrstica.vpis.letnik.letnik}}</span>
                        </div>
                        <div style="display:inline-block;margin-left:10%">
                            <span>Način: </span>
                            <span>{{vrstica.vpis.nacinStudija.opis}}</span>
                            <br>
                            <span>Vrsta vpisa: </span>
                            <span>{{vrstica.vpis.vrstaVpisa.vrstaVpisa}}</span>
                        </div>
                    </div>
                    <table class="table table-hover" align="center">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Zaporedna številka</th>
                            <th scope="col">Šifra predmeta</th>
                            <th scope="col">Predmet</th>
                            <th scope="col">KT</th>
                            <th scope="col">Predavatelji</th>
                            <th scope="col">Datum</th>
                            <th scope="col">Ocena</th>
                            <th scope="col">Število polaganj</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="predmet in vrstica.predmeti">
                            <td>{{$index + 1}}</td>
                            <td>{{predmet.predmet.sifra}}</td>
                            <td>{{predmet.predmet.naziv}}</td>
                            <td>{{predmet.predmet.ects}}</td>
                            <td>{{predmet.nosilec1.ime}} {{predmet.nosilec1.priimek}}</td>
                            <td>
                                <table>
                                    <tr>
                                        <td>{{vrstica.oceneZaPredmete[predmet.predmet.sifra][0].datum | date:'dd. MM. y'}}</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>{{vrstica.oceneZaPredmete[predmet.predmet.sifra][0].koncnaOcena}}</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>{{vrstica.oceneZaPredmete[predmet.predmet.sifra][0].stPolaganjaLeto}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <span>Skupno število kreditnih točk: </span>
                        <span>{{vrstica.kreditneTocke}}</span>
                        <br>
                        <span>Skupno povprečje: </span>
                        <span>{{vrstica.povprecnaOcena}}</span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>