<navigation></navigation>

<div class="row">
  <div class="col-md-2"></div>
  <div align="center" class="col-md-8">
    <h3>Individualni vnos končne ocene</h3>
    <br><br>

    <h4>Izberi leto:</h4>
    <select class="form-control" ng-model="vm.leto" ng-change="vm.spremembaLeta();prikaziPredmet=true">
        <option value="2018">2018/2019</option>
        <option value="2017">2017/2018</option>
        <option value="2016">2016/2017</option>
    </select><br><br>

    <h4 ng-show="prikaziPredmet">Izberi predmet</h4>
    <select ng-show="prikaziPredmet" class="form-control" ng-model="vm.predmet" ng-options="x as x.predmet.naziv for x in vm.predmeti" ng-change="prikaziVpisno=true"></select><br>
    <h4 ng-show="prikaziVpisno">Vpisna številka študenta</h4>
    <input ng-show="prikaziVpisno" class="form-control" type="text" ng-model="vm.vpisna"><br>
    <button ng-show="prikaziVpisno" class="form-control btn btn-primary" ng-click="vm.preveriZaObstojecoPrijavo();prikaziPodatke=true">Preveri za obstoječo prijavo</button><br><br><br>

    <div ng-show="prikaziPodatke">
        <h4 ng-hide="vm.skrijIdRok">Id roka: {{vm.idRok}}</h4><br>
        <div class="row">
          <div class="col-md-4">Zaporedna št. polaganja letos:</div>
          <div class="col-md-8"><input ng-disabled="vm.checked" class="form-control" type="number" ng-model="vm.polaganjeLetos" min="1" max="3"></div>
        </div>

        <div class="row">
          <div class="col-md-4">Zaporedna št. polaganja skupno:</div>
          <div class="col-md-8"><input ng-disabled="vm.checked" class="form-control" type="number" ng-model="vm.polaganjeSkupno" min="1"></div>
        </div>

        <div class="row">
          <div class="col-md-4">Datum:</div>
          <div class="col-md-8"><input ng-disabled="vm.checked" class="form-control" type="date" ng-model="vm.datum" max="2018-05-30"></div>
        </div>
        
        <div class="row">
          <div class="col-md-4">Končna ocena:</div>
          <div class="col-md-8"><input class="form-control" type="number" ng-model="vm.koncna" min="5" max="10"></div>
        </div>

        <div ng-show="vm.pokaziNapako" class="alert alert-danger">
            <p style="display:inline-block">{{vm.napaka}}</p>
        </div>
        <div ng-show="vm.pokaziOk" class="alert alert-success">
            <p style="display:inline-block">{{vm.ok}}</p>
        </div> 
        <button class="form-control btn btn-primary" ng-click="vm.oddajOceno()">Potrdi oceno</button>
    </div>



  </div>

  <div class="col-md-2"></div>
</div>


