<navigation></navigation>

<h2 align="center">VPISNI LIST</h2>
<div class="container">
    <form class="form-horizontal" action="">
        <fieldset>
            <br><br><h4 align="right">OSEBNI PODATKI:</h4><hr>        
            <div class="form-group">
                <label class="control-label col-sm-2">Vpisna številka</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="vm.student.vpisnaStevilka" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Ime</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="vm.student.ime" class="form-control" pattern="[A-Za-zčćšđž]*" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="priimek">Priimek</label>
                <div class="col-sm-10">
                    <input samo-crke type="text" id="priimek" ng-model="vm.student.priimek" pattern="[A-Za-zčćšđž]*" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Telefonska številka</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="vm.student.telefonskaStevilka" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="vm.student.email" required>
                </div>
            </div>
            <hr><div class="form-group">
                <label class="control-label col-sm-2">Datum rojstva</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" min="1920-01-01" max="2010-01-01" ng-model="vm.student.datumRojstva">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Emšo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="vm.student.emso" maxlength="13" minlength="13"
                           pattern="[0-9]{13}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Davčna številka</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.student.davcnaStevilka"
                       pattern="[0-9]{8}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Spol</label>
                <div class="col-sm-10">
                    <select ng-options="spol.ime for spol in vm.spol" class="form-control"
                    ng-model="vm.student.spol" required>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Država rojstva</label>
                <div class="col-sm-4">
                    <input type="text" ng-model="vm.student.drzavaRojstva" class="form-control" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Kraj rojstva</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="vm.student.krajRojstva" required>
                </div>
            </div>
            <div class="form-group" ng-hide="skrij_obcinaposta_rojstva">
                <label class="control-label col-sm-2">Občina rojstva</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="vm.student.obcinaRojstva" required/>
                </div>
            </div>


            <!-- stalni naslov -->
            <div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Stalni naslov</label>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Država</label>
                    <div class="col-sm-10">
                        <select ng-options="drzava as drzava.slovenskiNaziv for drzava in vm.drzave" class="form-control" ng-model="vm.student.drzavaStalno" required><option></option></select>
                    </div>
                </div>

                <hr><div class="form-group">
                <label class="control-label col-sm-2">Stalni naslov</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="vm.student.naslovStalno" required>
                </div>
            </div>
            </div>
            <!--<div class="form-group" ng-hide="skrij_obcinaposta_stalno">-->
            <!--<label class="control-label col-sm-2">Pošta</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<select ng-options="posta as posta.code for posta in poste" class="form-control" ng-model="vl_posta_stalno"><option></option></select>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group" ng-hide="skrij_obcinaposta_stalno">-->
                <!--<label class="control-label col-sm-2">Občina</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<select ng-options="obcina as obcina.ime for obcina in obcine" class="form-control" ng-model="vl_obcina_stalno"><option></option></select>-->
                <!--</div>-->
            <!--</div>            -->
            <!--&lt;!&ndash;&ndash;&gt;-->
            <!--<hr><div class="form-group">-->
                <!--<label class="control-label col-sm-2">Začasni Naslov</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" ng-model="vl_naslov_zacasno">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="control-label col-sm-2">Država</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<select ng-options="drzava as drzava.ime for drzava in drzave" class="form-control" ng-model="vl_drzava_zacasno" ng-change="sprememba_drzava_zacasno()"><option></option></select>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group" ng-hide="skrij_obcinaposta_zacasno">-->
                <!--<label class="control-label col-sm-2">Pošta</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<select ng-options="posta as posta.code for posta in poste" class="form-control" ng-model="vl_posta_zacasno"><option></option></select>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group" ng-hide="skrij_obcinaposta_zacasno">-->
                <!--<label class="control-label col-sm-2">Občina</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<select ng-options="obcina as obcina.ime for obcina in obcine" class="form-control" ng-model="vl_obcina_zacasno"><option></option></select>-->
                <!--</div>-->
            <!--</div>            -->
            <!--&lt;!&ndash;&ndash;&gt;-->
            <!--<p align="center">{{napaka_vpisnilist}}</p>-->
           <button type="submit" class="btn btn-primary btn-block" ng-click="potrdi_osebne_podatke()">Naprej</button>


        </fieldset>
    </form>
</div>

