<navigation></navigation>

<h2 align="center">VPISNI LIST</h2>
<div class="container">
    <form class="form-horizontal" name="vpisniList">
        <fieldset>
            <br><br><h4 align="left">OSEBNI PODATKI {{vm.student.vpisnaStevilka}}</h4><hr>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-2">Ime</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="vm.student.ime" class="form-control" pattern="[A-Za-zČĆŠĐŽčćšđž]+" required>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-2" for="priimek">Priimek</label>
                    <div class="col-sm-10">
                        <input samo-crke type="text" id="priimek" ng-model="vm.student.priimek" pattern="[A-Za-zČĆŠĐŽčćšđž]+" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-2">Telefonska številka</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="vm.student.telefonskaStevilka" required>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-2">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="vm.student.email" required>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">

                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-2">Datum rojstva</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" min="1920-01-01" max="2010-01-01" ng-model="vm.datumRojstva">
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-2">Emšo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="vm.student.emso" maxlength="13" minlength="13"
                               pattern="[0-9]{13}" required>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-2">Davčna številka</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="vm.student.davcnaStevilka"
                               pattern="[0-9]{8}" required>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-2">Spol</label>
                    <div class="col-sm-10">
                        <select ng-options="spol.naziv for spol in vm.spol track by spol.id" class="form-control"
                                ng-model="vm.student.spol" required>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-2">Država rojstva</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="vm.student.drzavaRojstva" class="form-control" required/>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-2">Občina rojstva</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="vm.student.obcinaRojstva" required/>
                    </div>
                </div>
                </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-2">Kraj rojstva</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="vm.student.krajRojstva" required>
                    </div>
                </div>
            </div>

            <hr>
            <!-- stalni naslov -->
            <div class="form-group">
                <label class="col-sm-12">Podatki o stalnem naslovu</label>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-2">Država</label>
                    <div class="col-sm-10">
                        <select ng-options="drzava as drzava.slovenskiNaziv for drzava in vm.drzave track by drzava.numericnaOznaka" class="form-control" ng-model="vm.student.drzavaStalno" required><option></option></select>
                    </div>
                </div>
                <div class="form-group col-sm-6" ng-show="vm.student.drzavaStalno.numericnaOznaka == 705">
                    <label class="control-label col-sm-2">Občina</label>
                    <div class="col-sm-10">
                        <select ng-options="obcina as obcina.ime for obcina in vm.obcine track by obcina.sifra" class="form-control" ng-model="vm.student.obcinaStalno"><option></option></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6" ng-show="vm.student.drzavaStalno.numericnaOznaka == 705">
                    <label class="control-label col-sm-2">Pošta</label>
                    <div class="col-sm-10">
                        <select ng-options="posta as posta.nazivPoste for posta in vm.poste track by posta.postnaStevilka" class="form-control" ng-model="vm.student.postaStalno"><option></option></select>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-2">Naslov</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="vm.student.naslovStalno" required>
                    </div>
                </div>
            </div>
            <hr>
            <!-- zacasni naslov -->
            <div class="form-group">
                <label class="col-sm-12">Podatki o začasnem naslovu</label>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-2">Država</label>
                    <div class="col-sm-10">
                        <select ng-options="drzava as drzava.slovenskiNaziv for drzava in vm.drzave track by drzava.numericnaOznaka" class="form-control" ng-model="vm.student.drzavaZacasno">
                            <option></option></select>
                    </div>
                </div>

                <div class="form-group col-sm-6" ng-show="vm.student.drzavaZacasno.numericnaOznaka == 705">
                    <label class="control-label col-sm-2">Občina</label>
                    <div class="col-sm-10">
                        <select ng-options="obcina as obcina.ime for obcina in vm.obcine track by obcina.sifra" class="form-control" ng-model="vm.student.obcinaZacasno">
                            <option></option></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6" ng-show="vm.student.drzavaZacasno.numericnaOznaka == 705">

                    <label class="control-label col-sm-2">Pošta</label>
                    <div class="col-sm-10">
                        <select ng-options="posta as posta.nazivPoste for posta in vm.poste track by posta.postnaStevilka" class="form-control" ng-model="vm.student.postaZacasno">
                            <option></option></select>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-2">Naslov</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="vm.student.naslovZacasno">
                    </div>
                </div>
            </div>
            <hr>
            <!---->
            <div class="row">

                <div class="alert alert-danger" align="center" ng-show="vm.errorMsg">
                    <strong>{{vm.errorMsg}}</strong>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 col-sm-offset-8">
                    <button type="submit" class="btn btn-success btn-block" ng-click="vm.save()">Shrani</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary btn-block" ng-click="vm.toCurriculum()">Naprej</button>
                </div>
            </div>

        </fieldset>
    </form>
    <hr>
</div>

